server:
  port: 8082
  servlet:
    context-path: /api
    session:
      timeout: 1d
spring:
  profiles:
    active: local
  application:
    name: picture-cloud
  servlet:
    multipart:
      max-file-size: 5MB
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: is_delete
      logic-delete-value: 1
      logic-not-delete-value: 0
# API文档生成管理工具
knife4j:
  enable: true
  openapi:
    title: 云图片接口文档
    description: "云图片"
    version: 1.0
    group:
      default:
        api-rule: package
        api-rule-resources:
          - org.example.picturecloudbackend.controller
